body {
    scroll-behavior: smooth;
}
.header {
    font-family: 'Limelight', cursive;
    text-align: center;
    padding: 1rem 0;
}
.title-nenu>h2{
    font-family: 'Limelight', cursive;
    margin-top: 1rem;
}
.menu {
    background-color: rgb(255, 255, 255);
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    background-color: rgb(240, 184, 184);
    margin: 10px 0;
    padding: 15px;
    display: block;
    box-sizing: border-box;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    font-weight: 900;
}

.menu li:hover {
    outline: 3px dashed rgb(190, 159, 159);
    outline-offset: -7px;
}

.col-menu {}

.btn-top {
    width: 100px;
    height: 100px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    border-radius: 50%;
    background-color: rgb(219, 78, 149);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: pink;
    color: black;
    font-weight:900 !important;
    padding: 2rem 0.5rem;
}
.card-img-top{
    border: 2px solid gray !important;
}